*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   height: 100vh;
   width: 100vw;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-div{
    /* border: 2px solid black; */
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.display{
    font-size: 60px;
    position: absolute;
    top: 80px;
    text-align: center;
    /* border: 2px solid black; */
    height: 100px;
    width:370px;
}

.btn-div{
    display: flex;
    justify-content: space-around;
    /* border: 2px solid rgb(224, 223, 223); */
    width: 370px;
    height: 180px;
    position: absolute;
    bottom: 20px;
    flex-flow: row wrap;
    align-content: center;
   
}
.btn{
    height: 60px;
    width: 110px;
    margin: 6px;
    background-color: rgb(224, 223, 223);
    border: none;
    font-size: 25px;
}
