*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 70px;
    display: flex;
    justify-content: center;
    background-color: rgb(51, 47, 47);
}
.span-div{
    position: relative;
    top: 20px;
    left: 20px;
    bottom: 20px;
    /* border: 2px solid black; */
    width: 757px;
    height: 200px;
    background: rgb(46, 39, 39);
    border-radius: 10px;
}
#f-num{
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 35px;
  color: rgb(255, 255, 255);
}
.main-div{
    /* border: 2px solid black; */
    height: 800px;
    width: 800px;
    background-color: rgb(46, 39, 39);
    z-index: 1;
}

.button-div{
    /* border: 2px solid black;*/
    width: 757px; 
    height: 540px;
    position: relative;
    top: 35px;
    left: 20px;
    bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(46, 39, 39);
    z-index: 1;
} 
/* .div{
    padding: 40px 0 50px;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    width: 130px;
    height: 100px;
    font-size: 20px;
} */
.num{
    padding: 40px 0 50px;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    width: 130px;
    height: 100px;
    font-size: 40px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 32%, rgba(0,212,255,1) 100%); 
  }
.clear-btn{
    /* margin: 10px;
    width: 283px;
    height: 100px; */
    margin: 10px;
    width: 130px;
    height: 100px;
    position: relative;
    font-size: 20px;
    outline: 0;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: 30px;
}
.clear-btn:after{
  content: "";
  background-color: #d4be3e;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}
.clear-btn:hover:after {
  top: 0px;
  left: 0px;
}
.total{
    margin: 10px;
    width: 130px;
    height: 100px; 
    position: relative;
    font-size: 20px;
    outline: 0;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;  
    font-size: 35px;
}

.style-btn{
    margin: 10px;
    width: 280px;
    height: 100px;
    position: relative;
    font-size: 20px;
    outline: 0;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.total:after{
    content: "";
    background-color: #d4be3e;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}
.style-btn:after {
    content: "";
    background-color: #d4be3e;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  .style-btn:hover:after {
    top: 0px;
    left: 0px;
  }
  .total:hover:after{
    top: 0px;
    left: 0px;
  }
  
  /* @media (min-width: 768px) {
    .style-btn {
      padding: 13px 50px 13px;
    }
  } */
  .style-btn:active {
    background-color: #f3f4f6;
    box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
    transform: translateY(0.125rem);
  }
  .total:active {
    background-color: #f3f4f6;
    box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
    transform: translateY(0.125rem);
  }
.num:active{
    background-color: #f3f4f6;
    box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
    transform: translateX(0.125rem);
}
.clear-btn:active {
  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(100, 67, 36, 0.15);
  transform: translateY(0.125rem);
}
  