*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding:0;
height: 100vh;
 background-image:url(https://th.bing.com/th/id/R.113a4c479dd490c95c14241399011850?rik=PEpRCCpK2rNRfw&riu=http%3a%2f%2fcdn.24.co.za%2ffiles%2fCms%2fGeneral%2fd%2f2830%2faded5eadefa348c8af31fd7ba9e3f1bc.jpg&ehk=gvgdafD%2bG9eVBUaszFdKe5XI6%2bB918znlSi34ptLIEM%3d&risl=&pid=ImgRaw&r=0) ;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
h1, h2{
 padding-top: 10%;
  color: rgb(224, 243, 228);
  text-align: center;
  font-size: 3.5em;
}
.person-count{
 font-size: 3.5em;
}
button{
  border-radius: 2px;
  width: 158px;
  margin: auto auto 15px auto;
  padding:10px;
  border:2px solid black;
  display:block;
  border-radius: 5px;
  background-color: rgb(113, 177, 10);
  color: black;
  font-weight: bold;
  cursor: pointer;
  /* box-shadow: 0 9px */
}
button:active {
  background-color: #8e573e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
div{
  margin-top: 15%;
}
#save-el{
  font-size: 25px;
  text-align: center;
  padding: 50px;
  color:white;
  font-weight: bold;
}